.App {
    text-align: center;
    background-color: #192959;
}

.App-header {
    display: flex;
    justify-content: center;
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-size: 40px;
    color: #04bdb6;
}
footer{
    color:#04bdb6
}