.container{
    padding: 25px;
    box-shadow:2px 2px 5px #1f5179;
}
.App {
    text-align: center;
    background-color: #192959;
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    padding: 20px 20px;
    margin: 15px;
}

.App-header {
    margin: 0 auto;
    font-size: 40px;
    color: #04bdb6;
}
footer {
    padding-top: 15px;
    color: #04bdb6;
}
